body {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.random-image {
  align-items: center;
  justify-content: center;
  border: 2px rgb(0, 0, 0) solid;
  height: 200px;
  width: 200px;
}
